.bg {
  background-color: rgb(43, 189, 157);
  color: white;
}

.bg h2 {
  font-size: 2rem;
  font-weight: 500;
}

hr {
  width: 200px;
  border: 2px solid white;
}

.container p {
  font-size: 0.9rem;
}